/* Add your css code here */

/*
Small screens are less than 601 pixels DP, medium screens are less than 993 pixels DP.
*/

/* Colors
vi: #75103e;
groc: ##ffeb3b;
*/

/* Correccions w3-css ************************/



body .w3-select{
  width: auto;
}

body .w3-card{
  box-shadow: none;
}

article .w3-container{
  padding: 0;
}

@media only screen and (max-width: 600px){

  body p{
    font-size: 15px;
  }

  body h2{
    font-size: 23px;
  }

}


@media only screen and (min-width: 40em){

  body .layout--twocol-section.layout--twocol-section--25-75 > .layout__region--second, body .layout--twocol-section.layout--twocol-section--75-25 > .layout__region--first {
    flex: 0 1 73%;
    }
  body.page-node-type-negoci .layout--twocol-section > div:first-child {
    padding-right: 2%;
  }  
}

a.glossify-tooltip-link{
  text-decoration: underline #75103e dotted 3px;
  color: #75103e;
}

/* Fi de les correccions W3CSS ******************/

.flex.centrat{
  display: flex;
  justify-content: center;
}


h1.page-title{
  text-align: center;
  color: #75103e;
}

h1.w3-padding-24{
  padding-bottom: 5px!important;
}

@media only screen and (max-width: 600px){

  h3.node__title{
    font-size: 19px;
  }

}

.main-container-inner .w3css-content{
  margin-top: 5px;
}

.view nav ul{
  border: solid 1px #75103e;
}


/* Botons ***********************/

.w3-button{
  border-radius: .5em;
}

.field--type-entity-reference > div{
  float: left;
}

.w3-button a{
  white-space: normal;
}

.field--type-entity-reference a, body .view .node--view-mode-teaser .field--type-entity-reference .field__item:first-child a, body .accions,
.view-frontpage .views-row .views-col .views-field-field-categoria a, a.feed-icon,
.view-frontpage .views-row .views-col .views-field-field-zones-preferents-de-servei a, .block-tagclouds .more-link a, body ul.links li a, .block-user-login-block li a, body .node--view-mode-full .field--type-entity-reference .field__item:first-child a, #block-views-block-necessitats-relacionades .views-field-view-node span a, #block-views-block-necessitats-relacionades footer a, .collapsiblockTitle button, #block-views-block-taulell-block-1 .view-content .views-field-view-node a, #block-views-block-taulell-block-1 .view-content .views-field-edit-node a, a.boto{
  padding: 4px 8px!important;
  background-color: #75103e!important;
  color: white;
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 19px;
}



body a.feed-icon{
  background-image: url("/sites/default/files/inline-images/feeds-100.png");
  background-position: left center;
  background-size: 47px 47px;
  background-repeat: no-repeat;
  padding-left: 60px!important;
}

body article .accions{
  padding: 9px 20px !important;
}

@media only screen and (max-width: 600px){
  
  .w3-button a{
    letter-spacing: 0;
    font-size: 15px;
  }

}

/* Etiquetes / tags ***********************/

.field--type-entity-reference.field--name-field-ambit a:before,
.field--type-entity-reference.field--name-field-categoria a:before,
.field--type-entity-reference.field--name-field-paraules-clau a:before,
.field--type-entity-reference.field--name-field-paraules-clau-oferiments a:before,
.field--type-entity-reference.field--name-field-zones-preferents-de-servei a:before,
.view-frontpage .views-row .views-col .views-field-field-categoria a:before,
.view-frontpage .views-row .views-col .views-field-field-zones-preferents-de-servei a:before, .block-tagclouds .more-link a:before{
  content: "#";
}

/* Capçalera *****************************/

#header-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
} 

#open-nav-inner i, #open-nav-inner svg{
  background-image: url('/sites/default/files/user.svg');
  height: 50px;
  color: transparent;
  width: 50px;
  background-size: cover;
}

#open-nav-inner svg:before{
}

#open-nav-inner svg:after{
}

#open-nav-inner{
 /* width: 15%;*/
  margin: 10px 0 0;
}

#block-w3css-negocis-site-branding, #block-logo{
  display: flex;
  justify-content: center;
/*  width: 59%;*/
  width: auto;
  flex-grow: 2;
}

#block-w3css-negocis-site-branding img{
  width: 250px;

}

#block-logo{
  width: auto;
  margin-top: 7px;
  max-width: 40%;
}

#block-logo .field--name-body img{
  width: 217px;
}

#block-logo .field--name-body p{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

@media only screen and (max-width: 600px){

  #block-logo .field--name-body p{
    display: none;
  }


}

#block-logo .field--name-body p .sistema{
  color: #870074;
}

header #block-dropdownlanguage{
  width: auto;
  margin-top: 14px;
  margin-left: 4%;
}

header #block-dropdownlanguage .contextual{
  right: -20px;
}

header #block-dropdownlanguage li.w3-left{
  float: unset!important;
}

@media only screen and (max-width: 992px){

  header #search-block-form{
    display: none;
  }

}

header #search-block-form{
  margin: 0;
/*  width: 15%;*/
  width: auto;
}

/* buscador API Search de capçalera */

header #block-formularioexpuestobuscador-search-apipage-1-2{
  width: auto;
}

header #block-formularioexpuestobuscador-search-apipage-1-2 .w3-section{
  margin: 8px 0 5px!important;
}

header #block-formularioexpuestobuscador-search-apipage-1-2 .views-exposed-form .w3-block{
  border: none;
}

header #block-formularioexpuestobuscador-search-apipage-1-2 input{
  text-align: center;
}

header #block-formularioexpuestobuscador-search-apipage-1-2 input#edit-search-api-fulltext{
  border-color: #75103e!important;
  width: 254px;
}

header #block-formularioexpuestobuscador-search-apipage-1-2 input#edit-submit-buscador-search-api{
  margin-top: 1px!important;
}



@media only screen and (max-width: 750px){

  #block-w3css-negocis-site-branding a{
    padding-bottom: 0!important;
  }

  #block-w3css-negocis-site-branding img{
    width: 200px;
  }

  header #block-formularioexpuestobuscador-search-apipage-1-2{
    width: 100%;
  }

  header #block-formularioexpuestobuscador-search-apipage-1-2 .w3-block{
    display: flex;
    justify-content: center;
  }

  header #block-formularioexpuestobuscador-search-apipage-1-2 .form-type-textfield{
    max-width: 72%;
  }

  header #block-formularioexpuestobuscador-search-apipage-1-2 input{
    width: auto;
  }

}

@media only screen and (max-width: 600px){
  
  #header-inner{
    display: flex;
    flex-wrap: wrap;
  }
  
  #header-inner > *{
    width: auto;  
    }
  
  #open-nav-inner{
    padding: 4px 10px;
    margin-right: 0;
    max-width: 15%;
  }
  
  #block-w3css-negocis-site-branding{
    display: flex;
    max-width: 84%;
  }
  
  #block-w3css-negocis-site-branding a.site-logo{
    margin: 0 auto!important;
    width: auto;
  }
  
  #block-w3css-negocis-site-branding img{
    width: 166px;
  }
  
  #block-w3css-negocis-site-branding div.site-name-slogan{
    margin: 4px 0 0 11px!important;
    display: none;
  }
  #block-w3css-negocis-site-branding .site-name a{
    font-size: 15px!important;
  }
  
  #block-w3css-negocis-site-branding #search-block-form{
    min-width: 250px;
  }
  

}

#main-navigation-h{
  background-color: #75103e!important;
}

@media only screen and (min-width: 993px){

  #main-navigation-h .ul-parent-main{
    display: flex;
    justify-content: center;
  }

}

#block-commutadordellengua ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px){
  body .w3-container {
    padding-top: 5px!important;
  }
  body .main-container-inner .w3css-content {
    margin-top: 2px;
   }
  body .w3-row-padding>.w3-col {
    padding: 0 2px;
  }
  body .main-container-inner .w3css-content > div{
    padding: 2px!important;
  }
  body .w3-margin-top {
    margin-top: 4px !important;
  }

}

/*************************************** 
  Fitxa del negoci 
  **********************/

body #highlighted {
  background-color: #ffeb3b;
}

.page-node-type-negoci .w3-block{
  width: auto;
}

.page-node-type-negoci ul.tabs.primary li:last-child{
  background-color: green;
  color: white;
}

body.page-node-type-negoci .field--label-above > .field__item{
  float: none;
}

.page-node-type-negoci .node__content > .layout:first-child{
  background-color: #75103e;
  margin-bottom: 27px;
  border-radius: 7px;
}

.page-node-type-negoci .node__content > .layout:first-child a{
  color: white;
}

.page-node-type-negoci .layout--twocol-section{
  align-items: flex-start;
}

.page-node-type-negoci .layout--twocol-section > div:first-child{
  padding-right: 3%;
}

.page-node-type-negoci h1, .page-node-type-necessitat h1{
  display: none;
}

.page-node-type-negoci .layout--twocol-section > div:first-child section{
  display: flex;
/*  justify-content: center;*/
  padding-left: 8px;
/*  text-align: center; */
}

.page-node-type-negoci .layout--twocol-section > div:first-child section ul{
  text-align: left;
}

.page-node-type-negoci .block-field-blocknodenegocifield-imatge-principal, .page-node-type-negoci .block-field-blocknodenegocititle, .page-node-type-negoci .block-field-blocknodenegocifield-activitat{
  justify-content: center;
}

.page-node-type-negoci .field--name-field-imatge-principal{
  padding-top: 0;
  margin-top: 0;
  float: none!important;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.page-node-type-negoci .field--name-field-imatge-principal img{
  border-radius: 48%;
  width: 140px;
}

.page-node-type-negoci .block-field-blocknodenegocititle{
  color: white;
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 7px;
}

.page-node-type-negoci .block-field-blocknodenegocifield-activitat{
  font-size: 1em;
  color: white;
  font-weight: 700;
}

.page-node-type-negoci .block-field-blocknodenegocifield-activitat .w3-section{
  margin-top: 1px!important;
  margin-bottom: 25px!important;
}

.page-node-type-negoci .block-field-blocknodenegocifield-clau-publica{
  margin-bottom: 16px;
}

.page-node-type-negoci .block-field-blocknodenegocifield-clau-publica .field__item{
  color: white;
  background-color: gray;
  padding: 0 8px;
}

.page-node-type-negoci .node__content > .layout:first-child .layout__region--second section{
  clear: right;
  float: right;
}

.page-node-type-negoci .block-field-blocknodenegocifield-a-domicili-online, .page-node-type-negoci .block-field-blocknodenegocifield-correu-electronic, .page-node-type-negoci .block-field-blocknodenegocifield-percentatge-acceptacio, .page-node-type-negoci .block-field-blocknodenegocifield-adreca .field--name-field-adreca > *, .page-node-type-negoci .block-field-blocknodenegocifield-zones-preferents-de-servei{
  padding: 0 5px!important;
}
 


.page-node-type-negoci .block-field-blocknodenegocifield-correu-electronic{
  padding-right: 14px;
}

.page-node-type-negoci .block-field-blocknodenegocifield-percentatge-acceptacio{
  margin-top: 10px;
}

.page-node-type-negoci .block-field-blocknodenegocifield-percentatge-acceptacio .field--name-field-percentatge-acceptacio{
  font-size: 1.1em;
padding: 3px 10px !important;
border-radius: 7px;
}



@media only screen and (max-width: 600px){

  .page-node-type-negoci .block-field-blocknodenegocifield-clau-publica .field__item{
    font-size: .75em;
  }

}

.page-node-type-negoci .field--name-field-imatges-adicionals{
  display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
  float: none!important;
}

.page-node-type-negoci .layout__region--second{
  border: solid 7px #75103e;
  padding-top: 10px;
}

.page-node-type-negoci .layout__region--second .w3-section > *{
  padding: 0 5px!important;
}

.page-node-type-negoci .layout__region--second .w3-section{
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}



.page-node-type-negoci .field--name-field-percentatge-acceptacio, .node--type-negoci.node--view-mode-mapa .field--name-field-percentatge-acceptacio{
  float: right;
}

.page-node-type-negoci .field--name-field-percentatge-acceptacio + div.field{
  width: 74%;
  clear: none;
}

.node--type-negoci.node--view-mode-full .field--name-field-percentatge-acceptacio label{
  margin-bottom: 11px;
  font-size: .8em;
max-width: 135px;
}

body.page-node-type-negoci .field--name-field-percentatge-acceptacio a, body.page-node-type-negoci .field--name-field-percentatge-acceptacio{
  font-size: 1.3em;
  margin-top: 8px;
  margin-right: 6px;
  background-color: #ffeb3b !important;
  color: black;
  border-radius: 36px;
  padding: 13px !important;
}

.page-node-type-negoci .field--name-field-a-domicili-online .field__item{
font-size: 2em;
margin-top: -13px;
}

.page-node-type-negoci .field--name-field-a-domicili-online img{
  width: 100px;
}

.page-node-type-negoci .block-field-blocknodenegocifield-canvi-g1-fiat{
  display: inline-block;
  text-align: center;
  width: 100%;
}

.page-node-type-negoci .block-field-blocknodenegocifield-correu-electronic label+div,
.page-node-type-negoci .block-field-blocknodenegocifield-web label+div,
.page-node-type-negoci .block-field-blocknodenegocifield-telefon label+div,
.page-node-type-negoci .block-field-blocknodenegocifield-adreca label+div
{
  color: white;
  background-color: #75103e;
}

.page-node-type-negoci .block-field-blocknodenegocifield-telefon .field__items{
  width: 100%;
}

.page-node-type-negoci .block-field-blocknodenegocifield-ubicacio{
clear: left;
padding-top: 10px!important;
}

.page-node-type-negoci .field__items > .field__item{
  float: left;
}

.page-node-type-negoci .field--type-entity-reference > div{
  float: none
}

.page-node-type-negoci .block-field-blocknodenegocifield-ambit,
.page-node-type-negoci .block-field-blocknodenegocifield-categoria,
.page-node-type-negoci .block-field-blocknodenegocifield-paraules-clau{
  float: left;
}
 

.page-node-type-negoci .block-field-blocknodenegocifield-ambit .w3-section{
  margin: 0 6px 0 0!important;
}

.page-node-type-negoci .block-field-blocknodenegocifield-categoria .w3-section,
.page-node-type-negoci .block-field-blocknodenegocifield-paraules-clau .w3-section{
  margin: 0!important;
}

.page-node-type-negoci .block-extra-field-blocknodenegocilinks{
  clear: left;
}

/* Formulari de contacte **************************/

#block-webform{
  margin: 5% 0;
}

#block-webform form{
  background-color: #ffff0021;
  padding: 5%;
}


/*************************************************
 * Fitxa necessitat
 *************************************************/

.page-node-type-necessitat article{
  background-color: #ffff0021;
}

.page-node-type-necessitat .block-field-blocknodenecessitattitle h2{
  display: inline-block;
  font-size: 1.2em;
}

.page-node-type-necessitat .block-field-blocknodenecessitattitle h2:after{
  content: ": ";
}

.page-node-type-necessitat .block-field-blocknodenecessitattitle span{
  font-size: 1.5em;
}

.page-node-type-necessitat .field--name-field-zones-preferents-de-servei label{
  float: left;
}


/*********************
 Graella 
 ****************************/

/*
Resultats cerca: .view-buscador-search-api
*/

.path-node.path-view-frontpage h1{
  font-size: 1em !important;
  padding: 0 !important;
}

#views-exposed-form-frontpage-page-1, #views-exposed-form-buscador-search-api-page-1{
  padding-top: 0!important;
  margin-top: 0!important;
}

.view-frontpage .views-col article, .view-frontpage .views-row article, .view-taxonomy-term .views-row article, .view-frontpage .views-row .views-col,
.view-buscador-search-api .views-col article, .view-buscador-search-api .views-row article{
 /* border: solid 7px #75103e;*/
  border-radius: 5px;
  padding: 5px 26px;
  box-shadow: 0px 0px 8px gray;
}

.view-frontpage .views-row .views-col, .view-buscador-search-api .views-row .views-col, .view-taxonomy-term .views-row article{
  margin: 13px 1%;
/*  width: 48% !important;*/
  overflow: hidden;
}

@media only screen and (min-width: 601px){

  .view-frontpage .views-row .views-col, .view-buscador-search-api .views-row .views-col, .view-taxonomy-term .views-row article{
    margin: 13px 0;
    padding: 19px 29px !important;
}

}


/* si la graella és horitzontal */

.view .node--view-mode-teaser .links a, .view-frontpage .views-row .views-col .links a, .view-frontpage .views-row .views-col .views-field-view-node a,
 .view-buscador-search-api .views-row .views-col .links a, .view-buscador-search-api .views-row .views-col ul.links a, .view-taxonomy-term .views-row article ul.links li a{
  color: #75103e;
  font-weight: 700;
  text-decoration: underline;
}

.view .node--view-mode-teaser .links a, .view-frontpage .views-row .views-col .links a, .view-buscador-search-api .views-row .views-col .links a{
  font-size: 16px;
}

.view-frontpage .views-row .views-col .views-field-view-node a,
.view-buscador-search-api .views-row .views-col ul.links a, .view-taxonomy-term .views-row article ul.links li a{
  font-size: 2em;
  background-color: white!important;
}

.node--type-negoci.node--view-mode-teaser, .view-frontpage .views-row .views-col,
.view-buscador-search-api .views-row .views-col{
  position: relative;
}

.view-frontpage .views-row .views-col .views-field-field-imatge-principal,
.view-buscador-search-api .views-row .views-col .views-field-field-imatge-principal, .view-taxonomy-term .views-row article .field--name-field-imatge-principal{
  position: absolute;
  margin-top: 10px;
}

.view-frontpage .views-row .views-col .views-field-field-imatge-principal .field-content,
.view-buscador-search-api .views-row .views-col .views-field-field-imatge-principal .field-content, .view-taxonomy-term .views-row article .field--name-field-imatge-principal .field-content{

    min-width: 100px;
    min-height: 100px;
    /* background-color: red; */
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70px;
    background-image: url(/sites/default/files/geofieldmap_icons/GIRALA_LOGO_mapa_3.png);
}

.view-frontpage .views-row .views-col .views-field-field-imatge-principal img,
.view-buscador-search-api .views-row .views-col .views-field-field-imatge-principal img, .view-taxonomy-term .views-row article .field--name-field-imatge-principal img{
  width: 125px!important;
  height: 125px;
  border-radius: 83px;
}

@media only screen and (min-width: 601px){

  .view-frontpage .views-row .views-col .views-field-field-imatge-principal img,
  .view-buscador-search-api .views-row .views-col .views-field-field-imatge-principal img, .view-taxonomy-term .views-row article .field--name-field-imatge-principal img{
    width: 180px!important;
    height: 180px;
    border-radius: 83px;
}


}

.view-taxonomy-term .views-row article .field--name-field-imatge-principal{
  padding: 0!important;
}

.view-frontpage .views-row .views-col .views-field-title h2,
.view-buscador-search-api .views-row .views-col .views-field-title h2, .view-taxonomy-term article h3{
  margin: 6px 0;
  color: #75103e;
/*  text-transform: lowercase;*/
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
}

@media only screen and (max-width: 600px){

  .view-frontpage .views-row .views-col .views-field-title h2, .view-buscador-search-api .views-row .views-col .views-field-title h2, .view-taxonomy-term article h3{
    font-size: 22px;
    line-height: 1.1em;
    margin-bottom: 5px;
    max-height: 45px;
    overflow: hidden;
  }
  
  .view-frontpage .views-row .views-col .views-field-field-activitat, .view-taxonomy-term article .field--name-field-activitat{
    line-height: 1.2;
  }
  
}
 


.view-frontpage .views-row .views-col .views-field-field-adreca-locality, .view-taxonomy-term article .field--name-field-adreca{
  font-style: italic;
  font-weight: 700;
  border-left: solid 20px #75103e;
  padding-left: 10px;
  margin-bottom: 3px;
  line-height: 1;
}

.view-taxonomy-term article .field--name-field-adreca > p{
  margin-top: 0;
  margin-bottom: 0;
} 

.view-taxonomy-term article .field--name-field-adreca > p > *{
  display: none;
}

.view-taxonomy-term article .field--name-field-adreca > p > .locality{
  display: inherit;
}

.view-frontpage .views-row .views-col .views-field-title,
.view-frontpage .views-row .views-col .views-field-field-activitat,
.view-frontpage .views-row .views-col .views-field-field-adreca-locality, .view-taxonomy-term .views-row article .field--name-field-activitat, .view-taxonomy-term article .field--name-field-adreca{
  float: left;
  margin-left: 147px!important;
  clear: left;
}

@media only screen and (min-width: 601px){

  .view-frontpage .views-row .views-col .views-field-title,
  .view-frontpage .views-row .views-col .views-field-field-activitat,
  .view-frontpage .views-row .views-col .views-field-field-adreca-locality, .view-taxonomy-term .views-row article .field--name-field-activitat, .view-taxonomy-term article .field--name-field-adreca, .view-taxonomy-term .views-row article .field--name-field-categoria, .view-taxonomy-term .views-row article .field--name-field-zones-preferents-de-servei{
    margin-left: 215px!important;

}

}


.view-frontpage .views-row .views-col .views-field-field-activitat, .view-taxonomy-term .views-row article .field--name-field-activitat{
  color: #75103e;
  line-height: 1.2;
}

@media only screen and (min-width: 601px){

  .view-frontpage .views-row .views-col .views-field-field-activitat, .view-taxonomy-term .views-row article .field--name-field-activitat{
    font-size: 1.1em;
  }

}


.view-frontpage .views-row .views-col .views-field-body, .view-taxonomy-term .views-row article .field--name-body{
  clear: left;
  margin-top: 141px!important;
  margin-bottom: 10px!important;
  line-height: 1.3;
}

@media only screen and (min-width: 601px){

  .view-frontpage .views-row .views-col .views-field-body, .view-taxonomy-term .views-row article .field--name-body{
    margin-top: 0 !important;
  }
  
  
    .view-frontpage .views-row .views-col .views-field-body, .view-taxonomy-term .views-row article .field--name-body, .view-frontpage .views-row .views-col .views-field-field-categoria, .view-taxonomy-term .views-row article .views-field-field-categoria, .view-frontpage .views-row .views-col .views-field-field-zones-preferents-de-servei, .view-frontpage .views-row .views-col .views-field-field-zones-preferents-de-servei, .view-taxonomy-term .views-row article .field--name-field__info, .view-taxonomy-term .views-row article .field--name-field-paraules-clau-oferiments{
      float: left;
      margin-left: 215px !important;
      clear: left;
    }
  
  

}

.view-frontpage .views-row .views-col .views-field-body .field-content{
  border-top: 1px solid #75103e;
  margin-top: 4px;
  display: inline-block;
  padding-top: 8px;
}

.view-taxonomy-term .views-row article .field--name-body{
  border-top: 1px solid #75103e;
  padding-top: 8px;
}


.view-frontpage .views-row .views-col .views-field-view-node,
.view-buscador-search-api .views-row .views-col ul.links, .view-taxonomy-term .views-row article ul.links{
  float: left;
  margin-left: 45%;
  margin-top: 10px;
}


@media only screen and (max-width: 600px){

  .view-frontpage .views-row .views-col .views-field-view-node{
    margin-left: 4%;
    margin-top: 0;
  }


}

.node--type-negoci.node--view-mode-teaser .field--name-field-percentatge-acceptacio{
  position: absolute;
top: 1px;
right: 9px;
width: auto;
}

.view-frontpage .views-row .views-col .views-field-field-percentatge-acceptacio{
  float: right;
  margin-bottom: 11px;
  font-weight: 700;
}

.node--type-negoci.node--view-mode-teaser .field--name-field-percentatge-acceptacio a, .page-node-type-negoci .field--name-field-percentatge-acceptacio a, .node--type-negoci.node--view-mode-mapa .field--name-field-percentatge-acceptacio a, .view-frontpage .views-row .views-col .views-field-field-percentatge-acceptacio a{
background-color: #ffeb3b !important;
color: black;
font-size: 1.4em;
border-radius: 36px;
padding: 13px !important;
}





.view-frontpage .views-row .views-col .views-field-field-a-domicili-online{
  float: right;
  margin-top: -9px;
}

.view-frontpage .views-row .views-col .views-field-field-a-domicili-online img{
  width: 56px;
}

@media only screen and (max-width: 900px){

  .view-frontpage .views-view-grid .views-col, 
  .path-view-taxonomy-term .views-view-grid .views-col, body .view-frontpage .views-row .views-col,
  .view-buscador-search-api .views-row .views-col{
    width: 98%!important;
  } 
  
    .view-frontpage .views-view-grid .views-col .field--name-field-imatge-principal, 
  .path-view-taxonomy-term .views-view-grid .views-col .field--name-field-imatge-principal,
  .view-buscador-search-api .views-row .views-col .field--name-field-imatge-principal{
    max-width: 50%;
  } 

}




/* Mapa ************************/

.view-mapa .leaflet-marker-icon{
  color: #75103e;
}



.view-mapa .leaflet-marker-icon h2{
  display: none;
}

.node--type-negoci.node--view-mode-mapa .field--name-field-percentatge-acceptacio{
  float: right;
  width: 25%;
}

.view-mapa .leaflet-popup-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 150px;
}

.view-mapa .views-field-title{
  font-size: 1.4em;
}

.view-mapa .views-field-title a{
  color: #75103e;
}

.view-mapa .views-field-view-node{
    background-color: #75103e;
    color: white;
    font-weight: 700;
  padding: 6px 10px;
  font-size: 1.2em;
}

.view-mapa .views-field-field-ambit, .view-mapa .views-field-field-activitat{
  min-width: 95%;
  margin: 10px 0;
}

.view-mapa .views-field-view-node a{
  color: white;
}

.view-mapa .views-field-field-percentatge-acceptacio{
  background-color: #ffeb3b;
border-radius: 25px;
padding: 6px 6px;
font-size: 1.2em;
font-weight: 700;
}

@media only screen and (min-width: 993px){

  .w3css-content #block-formularioexpuestomapapage-1{
    display: none;
  }

}
 
@media only screen and (max-width: 992px){

  .second-sidebar #block-formularioexpuestomapapage-1{
    display: none;
  }
  
  body .views-exposed-form .w3-block{
    gap: 1px;
  }

}

#main-container .views-exposed-form .w3-block{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: solid 1px #75103e;
  flex-wrap: wrap;
  padding: 0 6px;
  gap: 6px;
}

body #views-exposed-form-mapa-page-1, .path-view-mapa .main-container-inner .second-sidebar > div{
  margin-top: 0!important;
  padding: 0!important;
}

.first-sidebar .views-exposed-form .w3-block, .second-sidebar .views-exposed-form .w3-block{
  justify-content: left;
}

.block-system-main-block .views-exposed-form .w3-block{
  gap: 2px 30px;
}

@media only screen and (max-width: 600px){

  .block-system-main-block .views-exposed-form .w3-block{
    gap: 0 30px;
  }

}

.views-exposed-form .w3-block label, .views-exposed-form .w3-block legend{
  font-size: 0.9em;
  font-weight: 700;
  font-style: italic;
}

.views-exposed-form .w3-block .fieldset-wrapper{
  margin: 0;
  padding: 0;
}

#edit-field-ambit-target-id--2{
  width: 180px;
}

.views-exposed-form .w3-block input.button, input.form-submit{
  color: white;
  font-weight: 700;
  background-color: #75103e;
}

body .marker-cluster div{
  width: 68px;
  height: 69px;
  border-radius: 40px;
  padding-top: 16px;
  font-size: 26px;
}

@media only screen and (max-width: 600px){
  
  #leaflet-map-view-mapa-page-1{
    height: 394px!important;
  }
  
  .view-mapa ol{
    padding-left: 0;
  }

}

.view-mapa .view-footer h3, .view-frontpage .view-footer h3{
  display: inline-block;
text-align: center;
width: 100%;
float: unset;
}

#block-serveisadomicilionline{
  margin-top: 10%;
}

#block-serveisadomicilionline .w3-button, #block-views-block-avis-per-traduir-la-fitxa-block-1 span.field-content, #block-donatius .mobil{
  text-align: center;
  margin-bottom: 4%;
  font-weight: 700;
}

#block-serveisadomicilionline .w3-button, #block-views-block-avis-per-traduir-la-fitxa-block-1 span.field-content{
  background-color: #ffeb3b;
  color: #75103e;
  border: 1px #75103e solid;
}

#block-serveisadomicilionline .w3-button{
  width: 100%;
}

.view-footer{
  margin-top: 3%;
}

/********************
 * Blog
 ********************/
 
.node--view-mode-teaser .links.inline li a{
  color: white;
  font-weight: 700;
  background-color: #75103e;
}

/**************************
 * Buscador
 ***********************/
 
.view-buscador-search-api .view-empty{
  font-size: 1.3em;
  text-align: center;
  margin: 30px;
  font-weight: 700;
  color: red;
}

.view-buscador-search-api .view-empty a{
  text-decoration: underline;
  font-weight: 700;
}

/********************************************
 * Inici de sessió
 ****************************************/
 
.block-user-login-block li{
  font-size: 1.5em;
}

/******************************************
 * Necessitats relacionaciodes
 *****************************************/

#block-views-block-necessitats-relacionades, #block-views-block-taulell-block-1 .view-content{
  background-color: #ffff0021;
  font-size: 0.8em;
}

#block-views-block-necessitats-relacionades > h2{
  font-size: 25px;
}

#block-views-block-necessitats-relacionades .view-content h2{
  font-size: 20px;
}

#block-views-block-necessitats-relacionades ol li:nth-child(even), #block-views-block-taulell-block-1 .view-content li:nth-child(even){
  background-color: #ffff0042;
}

#block-views-block-necessitats-relacionades .views-field-view-node span{
  float: right;
}

#block-views-block-necessitats-relacionades footer{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/******************************
 * Login personalitzat
 ******************************/
 
#block-loginpersonalitzat p{
  font-size: 1.3em;
  text-align: center;
}


/*******************************
 * Taulell de l'usuari
 **************************/
 
#block-views-block-taulell-block-1 .view-content .views-field-title{
  font-size: 1.2em;
  font-weight: bold;
}

#block-views-block-taulell-block-1 .view-content .views-field-view-node, #block-views-block-taulell-block-1 .view-content .views-field-edit-node{
  float: left;
  margin-right: 10px;
}


/************************
 * Peu 
 **************************/

#footer-container h2{
  font-size: 1.6em;
  padding-left: 0!important;
}

/* núvol de tags *********************/

.block-tagclouds{
  display: flex;
  flex-wrap: wrap;
  gap: 0px 21px;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1;
}

.tagclouds-term .level2{
  font-size: 1.5em;
}

.tagclouds-term .level3{
  font-size: 2em;
}

.tagclouds-term .level4{
  font-size: 2.5em;
}

.tagclouds-term .level5{
  font-size: 3em;
}

@media only screen and (max-width: 992px){

  .block-tagclouds{
    font-size: .7em;
  }
  
}

/* CTA tradueix! *********************/

#block-views-block-avis-per-traduir-la-fitxa-block-1 h2{
  font-size: 1.2em;
}

#block-views-block-avis-per-traduir-la-fitxa-block-1 span.views-field{
  display: flex;
  justify-content: center;
}

#block-views-block-avis-per-traduir-la-fitxa-block-1 span.field-content{
  padding: 2% 4%;
  font-size: 1.5em;
text-align: center;
}

/* XXSS ******************************/

#block-xxss .field--name-body {
display: flex;
  justify-content: center;
  gap: 24px;
}

#block-xxss img{
  width: 70px;
  height: auto;
}

/* Donatius *******************/

#block-donatius{
  border: solid 10px red;
  border-radius: 24px;
  padding: 0 20px;
}

#block-donatius .mobil{
  display: none;
}

#block-donatius .mobil a{
  background-color: #75103e;
  color: #ffeb3b;
  padding: 3% 6%;
  font-size: 1.3em;
}

@media only screen and (max-width: 992px){

  #block-donatius .mobil{
    display: inherit;
  }

}

